# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
/frontend/dist
/frontend/build

# Misc
.env
.env.local
.env.*.local
.DS_Store
*.pem

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
.env
prisma/*.db
prisma/*.sqlite
